* {margin:0;padding:0;box-sizing:border-box;font-family:Poppins,Arial;}
body {background:#000;color:#fff;}

.hero {
  height:100vh;
  position:relative;
}
.hero video {
  width:100%;
  height:100%;
  object-fit:cover;
}
.overlay {
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.6);
}
.hero-content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}
.hero h1 {font-size:3.2rem;}
.btn {
  display:inline-block;
  margin-top:20px;
  padding:14px 35px;
  background:#ff0000;
  color:#fff;
  text-decoration:none;
  border-radius:40px;
}

.fade-in {animation:fade 1.2s ease;}
.delay {animation-delay:.4s;}

@keyframes fade {
  from {opacity:0;transform:translateY(30px);}
  to {opacity:1;transform:none;}
}

/* WhatsApp */
.whatsapp-float {
  position:fixed;
  right:20px;
  bottom:20px;
  background:#2ccf41ad;
  padding:14px 20px;
  color:#fff;
  border-radius:50px;
  text-decoration:none;
}

/* Cars */
.cars {padding:80px 8%; text-align:center;}
.slider {
  display:flex;
  gap:20px;
  overflow-x:auto;
}
.car-card {
  min-width:260px;
  background:#111;
  padding:15px;
  border-radius:12px;
  transition:.3s;
}
.car-card:hover {transform:translateY(-10px);}
.car-card img {width:100%;border-radius:10px;}
.car-card a {
  display:block;
  margin-top:10px;
  background:#ffffff;
  padding:10px;
  color:#000000;
  text-decoration:none;
}

/* Sections */
.why,  .map, .instagram {
  padding:70px 8%;
  text-align:center;
}
.why-grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}
.box {
  background:#111;
  padding:25px;
  border-radius:15px;
}

/* Map */
.map iframe {
  width:100%;
  height:300px;
  border:none;
  border-radius:15px;
}

/* Instagram */
.instagram  {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}




/* Footer */
footer {
  padding:20px;
  text-align:center;
  background:#000;
}
.video-section video {
  width: 70%;
  max-width: 900px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.7);
}
.video-section {
  text-align: center;
}
.promo-video {
  width: 70%;
  max-width: 900px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .promo-video {
    width: 100%;
  }
}
